.search-label {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 60%;
  height: 2rem;
  padding: 16px;
  border: 2.5px solid #232D3b;
  border-radius: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.movie-card {
  height: 30rem;
  width: 20rem;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: #aedfdb;  
}

.movie-name {
  font-size: 25px;  
  color: #232D3b;
  padding-top: 25px;
}

.movie-ranking {
  bottom: 10px;
  font-size: 18px;
  padding-top: 25px;
  color: #232D3b;
}

.movie-image {
  width: 12rem; 
  border: 2.5px solid #232D3b;
  box-shadow: 0 0 20px #0181bb;
}